.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 655px;
}

.wrapper {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Jua';
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  margin-right: 22px;
}

.link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.link + .link {
  margin-left: 25px;
}

.theme {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #75565E;
}

.icon {
  vertical-align: middle;
}